# Environment Variables
# Create a .env.local file using this as a template.

# Unlayer Project ID (Optional - For AI features)
NEXT_PUBLIC_UNLAYER_PROJECT_ID=1234

# Site URL for metadata and OpenGraph (Update for production)
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
